/************************************************************
HEADER
************************************************************/
.navbar {
  background: #002A4A;
  font-family: 'Raleway', sans-serif;
}

.navbar-default .navbar-brand {
  margin-right: 1em;
  color: #fff;
}

html {
  position: relative;
  min-height: 100%;
}



/************************************************************
NAVIGATION
************************************************************/


ul li {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  color: #fff;
  background: #002A4A;
}

.navbar-brand {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.navbar-default .navbar-nav > li > a {
	color: #fff;
	background: #002A4A;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #fff;
	background: #002A4A;
}

/************************************************************
OFFERINGS
************************************************************/

.first {
  margin-top: 60px;
}


/************************************************************
BODY
************************************************************/

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

body {
    margin-bottom: 60px;
}

/************************************************************
OFFERINGS
************************************************************/



/************************************************************
LINKS
************************************************************/



/************************************************************
CONTACT US
************************************************************/

.contact-info {
  text-decoration: none;
  color: black;
}


/************************************************************
MAPS
************************************************************/


/************************************************************
FEEDBACK FORM
************************************************************/



/************************************************************
FOOTER
************************************************************/

.footer {
	background: #002A4A;
  font-family: 'Raleway', sans-serif;
  position: fixed;
	text-align: center;
  bottom: 0;
  width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
	padding-top: 10px;
}
