/************************************************************
HEADER
************************************************************/
.navbar {
  background: #002A4A;
  font-family: 'Raleway', sans-serif;
}

.navbar-brand {
  margin-right: 10em;
}


/************************************************************
NAVIGATION
************************************************************/


/************************************************************
OFFERINGS
************************************************************/

.first {
  margin-top: 4.5em;
}


/************************************************************
BODY
************************************************************/

h1 {
	font-family: 'Raleway', sans-serif;
  font-weight: 700;
}


/************************************************************
OFFERINGS
************************************************************/



/************************************************************
LINKS
************************************************************/



/************************************************************
CONTACT US
************************************************************/

.contact-info {
  text-decoration: none;
  color: black;
}


/************************************************************
MAPS
************************************************************/


/************************************************************
FEEDBACK FORM
************************************************************/



/************************************************************
FOOTER
************************************************************/

.footer {
  background: #002A4A;
  font-family: 'Raleway', sans-serif;
}
