/*********************************
GENERAL
*********************************/



body {
  font-family: 'Open Sans' , sans-serif;
}




#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;

}

a {
  text-decoration: none;
  color: #3c546c;

}

img {
  max-width: 100%
}

/*******************************
 HEADING
 *******************************/

header {
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
}




 #logo {
   text-align: center;
   margin: 0;


 }

 h1 {
   font-family: 'Changa One' , sans-serif;
   margin: 15px 0;
   font-size: 1.75em;
   font-weight: normal;
   line-height: 0.8em;


 }

 h2 {
   font-size: 0.75em;
   margin: -5px 0 0;
   font-weight: normal;
   color: #999;
 }







 /*************************
 NAVIGATION
 ************************/

 nav {
   text-align: center;
   padding: 10px 0;
   margin: 20px 0 0;
   background: #e4eaf0;

 }

 nav ul {
   list-style: none;
   margin: 0 10px;
   padding: 0;
 }

 nav a {
   font-weight: 800;
   padding: 15px 10px;
 }


nav li {
  display: inline-block;
}
 /* nav link */
 nav a, nav a: visited {
   color: Gainsboro;
 }

 /* selected nav link */
 nav a.selected, nav a:hover {
   color: #b6b6b6;
 }


/**************************
FOOTER
************************/

footer {
  
  text-align: center;
  border-radius: 30%;
  padding-top: 25px;
  color: #2e4053 ;

  background-color: #d4dde7 ;

}

.social-icon {
  width: 20px;
  height: 20px
  margin: 0 5px;
}

/***********************
PAGE PORTFOLIO
**********************/
#gallery {
  margin: 0;
  padding: 0;
  list-style: none;

}

.prices{
  margin: 2px;
  padding: 1px;
  width: 80%;

}

#gallery li {
  float: left;
  width: 45%;
  margin: 2.5%;
  background-color: #F3F4F5;
  color: #bdc3c7;
}

#gallery li a p {
  margin: 0;
  padding: 5%;
  font-size: 0.75em;
  color: #bdc3c7
}



/********************************
COLORS
********************************/

body {
  background-color: #F5F4F3;
  color: #999;
}



header {
  background: #c4d0de ;
  border-color: #FAEBD7;



}








/**************************
 PAGE HEADIING
 *************************/
