/*********************************
GENERAL
*********************************/



body {
  font-family: 'Open Sans' , sans-serif;
}




#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;

}

a {
  text-decoration: none;
  color: white;

}

img {
  max-width: 100%
}

/*******************************
 HEADING
 *******************************/

header {
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
}




 #logo {
   text-align: center;
   margin: 0;


 }

 h1 {
   font-family: 'Changa One' , sans-serif;
   margin: 15px 0;
   font-size: 1.75em;
   font-weight: normal;
   line-height: 0.8em;


 }

 h2 {
   font-size: 0.75em;
   margin: -5px 0 0;
   font-weight: normal;
   color: #fff;
 }







 /*************************
 NAVIGATION
 ************************/

 nav {
   text-align: center;
   padding: 10px 0;
   margin: 20px 0 0;
   background: #599a68;

 }

 nav ul {
   list-style: none;
   margin: 0 10px;
   padding: 0;
 }

 nav a {
   font-weight: 800;
   padding: 15px 10px;
 }


nav li {
  display: inline-block;
}
 /* nav link */
 nav a, nav a: visited {
   color: #fff;
 }

 /* selected nav link */
 nav a.selected, nav a:hover {
   color: #66FF66;
 }


/**************************
FOOTER
************************/

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #ccc;
  border: 5px solid orange;
  background-color: #599a68;

}

.social-icon {
  width: 20px;
  height: 20px
  margin: 0 5px;
}

/***********************
PAGE PORTFOLIO
**********************/
#gallery {
  margin: 0;
  padding: 0;
  list-style: none;

}

#gallery li {
  float: left;
  width: 45%;
  margin: 2.5%;
  background-color: orange;
  color: #bdc3c7;
}

#gallery li a p {
  margin: 0;
  padding: 5%;
  font-size: 0.75em;
  color: #bdc3c7
}



/********************************
COLORS
********************************/

body {
  background-color: #fff;
  color: #999;
}



header {
  background: #6ab47b;
  border-color: #599a68;



}








/**************************
 PAGE HEADIING
 *************************/
